@{
    Layout = "../Shared/_Layout.cshtml";
}

@model Bank.Web.ViewModels.OverallViewModel
 
<div class="row">
    <h2 class="col-6">
       @CommonResources.PersonalCabinet
    </h2>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                @CommonResources.Cards
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.Cards.Count > 0)
                {
                    foreach (var card in Model.Cards)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    <p>@card.Name</p>
                                    <p>**@card.Number.ToString().Substring(0, 3)</p>
                                </div>
                                <div class="col-2">@card.Money @CommonResources.UAH</div>
                            </div>
                        </li>
                    }
                    
                    <li class="list-group-item">
                        <p>@CommonResources.CardsNotFound</p>
                        <p>
                            <a class="btn btn-success" 
                               asp-controller="Card" asp-action="Create">@CommonResources.Create</a>
                        </p>    
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <p>@CommonResources.CardsNotFound</p>
                        <p>
                            <a class="btn btn-success" 
                               asp-controller="Card" asp-action="Create">@CommonResources.Create</a>
                        </p>    
                    </li>
                }
            </ul>
        </div>    
    </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12">
        
        <div class="card">
            <div class="card-header">
                @CommonResources.Deposits
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.Deposits.Count > 0)
                {
                    foreach (var deposit in Model.Deposits)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    <p>@Model.Cards.First(c => c.Id == deposit.CardId).Name</p>
                                    <p>@CommonResources.EndDate @deposit.EndDate</p>
                                </div>
                                <div class="col-2">@deposit.Money @CommonResources.UAH</div>
                            </div>
                        </li>
                    }
                    
                    <li class="list-group-item">
                        <p>@CommonResources.DepositsNotFound</p>
                        <p>
                            <a class="btn btn-success" 
                               asp-controller="Deposit" asp-action="Create">@CommonResources.Create</a>
                        </p>    
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <p>@CommonResources.DepositsNotFound</p>
                        <p>
                            <a class="btn btn-success" 
                               asp-controller="Deposit" asp-action="Create">@CommonResources.Create</a>
                        </p>    
                    </li>
                }
            </ul>
        </div>   
        
    </div>
    
    
    
    <div class="col-md-6 col-sm-6 col-xs-12">
    
        <div class="card">
            <div class="card-header">
                @CommonResources.Loans
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.Deposits.Count > 0)
                {
                    foreach (var loan in Model.Loans)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    <p>@Model.Cards.First(c => c.Id == loan.CardId).Name</p>
                                    <p>@CommonResources.EndDate @loan.ExpDate</p>
                                </div>
                                <div class="col-4">
                                    <p>@loan.Money @CommonResources.UAH</p>    
                                    <form asp-action="Refill" asp-controller="Loan" asp-anti-forgery="true">
                                        <input name="@nameof(LoanModel.Id)" value="@loan.Id"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p>@CommonResources.DepositsNotFound</p>
                            <p>
                                <a class="btn btn-success" 
                                   asp-controller="Deposit" asp-action="Create">@CommonResources.Create</a>
                            </p>    
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        <p>@CommonResources.DepositsNotFound</p>
                        <p>
                            <a class="btn btn-success" 
                               asp-controller="Deposit" asp-action="Create">@CommonResources.Create</a>
                        </p>    
                    </li>
                }
            </ul>
        </div>  
    </div>
</div>

