@using Bank.Web.Resources
@model Bank.Web.ViewModels.DepositModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


<div class="row m-20">
    <div class="col-5">
        <h2>@CommonResources.CreateDeposit</h2>
    </div>    
</div>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="form-group">
        <label asp-for="Money">@CommonResources.EnterMoneyCount</label>
        <input class="form-control" type="number" asp-for="Money" />
        <span asp-validation-for="Money" class="text-danger" />
    </div>
    
    <div class="form-group">
        <label asp-for="PercentPerMonth">@CommonResources.ChoosePercent</label>
        <input class="form-control"  asp-for="PercentPerMonth" />
        <span asp-validation-for="PercentPerMonth" class="text-danger" />
        <input type="hidden"  asp-for="CardId" value="@Model.Cards[0].Id" />
    </div>
    
    <div class="form-group">
        <label asp-for="CardId">@CommonResources.ChooseCard</label>
        <select class="form-control" asp-for="@Model.CardId">
            @foreach (var item in @Model.Cards)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    
      
    <div class="form-group">
             <div class="validation" asp-validation-summary="ModelOnly" />
        </div>
    <div>
            <input type="submit" class="btn btn-success" value="@CommonResources.CreateDeposit" />
        </div>
</form>